*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Noto Serif JP', serif;
}
a{
    color: white;
    text-decoration: none;
}
header{
    z-index: 999;
    width: 100%;
    height: 100px;
    background: black;
    position: sticky;
    top: 0;
}
#header1{
    display: flex;
    height: 57px;
    border-bottom:  1px solid #707070;
    color: white;
    justify-content: space-between;
}
#header1 > .form{
    margin-left: 25px;
    margin-top: 15px;
  
}
#header1 > .form > form > select{
    background: none;
    color: white;
    border: none;
    font-size: 17px;
  
}
#header1 > .form > form > select > option{
    background: black;
 
}
#header1  > .logo{
    margin-top: 10px;
    margin-left: 55px;
}
#header1 > .shop{
    margin-top: 16px;
    margin-right: 5px;
    
}
#header1 > .shop > ul{
    margin-right: 25px;
    list-style: none;   
    display: flex;
    justify-content: space-between;

}
#header1 > .shop > ul > li{
    margin-left: 20px;
    margin-bottom: 15px;
}
#header1 > .shop > ul > li:last-child{
    background: #008573;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
  
}



#header2 > nav > ul{
    list-style: none;
    text-align: center;
    margin-top: 9px;

}
#header2 > nav > ul > li{
   display: inline-block;
   margin-right: 30px;
   width: 100px;
   text-align: center;
}


#header2 > nav > ul > li:last-child{
    margin-right: 0;
}



/* section*/
section{
    width: 100%;
}
#section1 {
    position: relative;
    background-image: url(./images/KakaoTalk_20210721_111604203.mp4);
   
}

#video{
   position: fixed;
   z-index: -100;
   width: 100%; 
   position: relative;
} 


#section1  > p:hover{
    background: black;
}

#section2{
    position: relative;
    text-align: center;
}
#section2 > .contents {
    text-align: center;
    width: 100%;
   
}
#section2  > h2{
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section3{
    width: 100%;
    height: 1000px;
    background-color: black;
}

footer {
    width: 100%;
    height: 300px;
    margin-top: 45px;
    background: url(./images/footer-bg.jpg);
    background-size: cover;
}
footer > .info {
    color: white;
    margin-top: 35px;
    display: flex;
}
footer > .info  > .info1  {
    display: flex;
    justify-content: center;
    border-right:  2px solid white;
    height: 200px;
    width: 50%;
    margin-top: 35px;
   
}
footer > .info  > .info1  > ul{
    margin-right: 50px;
    margin-left: 20px;
    list-style: none;
    font-size: 11px;
    margin-top: 0px;
}
footer > .info  > .info1 > ul > li{
    padding: 10px;
    width: 110px;
    font-weight: bold; 
}
footer > .info  > .info1 > ul > li > ul{
    list-style: none;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 10px;
}
footer > .info  > .info1 > ul > li > ul > li  {
   width: 160px;
   padding: 5px;
}

footer > .info  > .info2 > p{
   font-size: 12px;
   font-weight: bold;
   margin-top: 40px;
   margin-left: 90px;
   padding-bottom: 10px;
   border-bottom: rgb(196, 196, 196) 2px solid;

}
footer  > .info > .info2  > .footer-logo {
    width: 300px;  
    margin-left: 100px;
    margin-top: 15px;
    padding-bottom: 15px;
}
footer  > .info > .info2  > .footer-logo > img{
   margin-right: 10px;
   margin-left: 10px;
}
footer  > .info > .info2 > .membership{
    margin-left: 100px;
    margin-top: 10px;
    width: 150px;
}
footer > .footerlast{
    width: 100%;
    height: 65px;
    background: black;
    text-align: center;
    margin-top: 15px;
}
